* {
    margin: 0;
}

:root {
    --font: 'Fira Sans', sans-serif;
    --text-color: #022636;
    --link-color: #2B97E0;
    --aside-text-color: #FFFFFF;
    --aside-bg: #181818;
}

body {
    font-family: var(--font);
    font-weight: 400;
    line-height: 2;
    color: var(--text-color);
}

h1,
.h1-extra-calor {
    font-family: 'Kanit';
    font-weight: 800;
    letter-spacing: 5px;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
}

.h1-extra-calor {
    padding: 0;
    color: var(--link-color);
}

h2,
h3 {
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px;
}

h3 {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
    padding: 15px 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:visited {
    text-decoration: none;
    color: var(--link-color);
}

hr {
    margin: 10px 0;
}

.main-box {
    display: flex;
    flex-direction: row;
}

aside {
    min-width: 350px;
    background: var(--aside-bg);
    color: var(--aside-text-color);
}

aside h3 {
    background: var(--link-color);
    padding: 5px;
    text-align: center;
    margin: 10px 0;
}

img {
    height: 450px;
    width: 350px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
}

.contacts {
    display: flex; 
    flex-direction: column;
}

.contacts-items {
    display: flex; 
    flex-direction: row;
    gap: 10%;
}

.my-info {
    display: flex; 
    align-items: center;
    gap: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.button a {
    display: block;
    width: 160px;
    height: 60px;
    border: 0;
    background: transparent;
    background-size: cover;
    background-image: url(./rss-logo.svg);
    cursor: pointer;
}

.footer-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}